# Python
__pycache__/
*.py[cod]
*.egg-info/
*.pyo
*.pyd

# Virtual env
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Others
*.log
